@model IEnumerable<WebShop.Models.Category>
@{
    ViewBag.Title = "Store";
}

<h1>Browse Category</h1>
<p>
    Select from @Model.Count()
    genres:
</p>
<ul>
    @foreach (var category in Model)
    {
        <li>@Html.ActionLink(category.Name, "Browse", new { category = category.Name })</li>
    }
</ul>

